extends layout 

block content
  h1 Category: #{title}
  p #{description}
    ul
    each component in category_components
      li
        a(href=component.url) #{component.name}

    else
      li There are no components.