extends layout 

block content  
    h2= title 
    p.page-desc This is a list of all the components. 
    div.crud-container
      a.crud-link(href='/component/create') Create Component
    ul.content-list
      each component in component_list
        li.render-items
          a(href=component.url) #{component.name}
      else
        li There are no components.