extends layout 

block content 
    h1.form-title= title
    h3.form-subtitle= components.name

    p.del-check Do you really want to delete this component?

    form(method='POST' action='')
        div.form-group
            input#componentid.form-control(type='hidden', name='componentid', required='true', value=components._id)
            button.btn.form-change(type='submit') Delete