extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
        label(for='name') Name:
        input#name.form-control(type='text' name='name' required='true' value=(undefined == component ? '' : component.name) )
    div.form-group
        label(for='category') Category: 
        select#category(type='select' name='category' required='true')
            each category in categories
                option(value=category._id)= category.title
    div.form-group
        label(for='price') Price: #[br]
        div
            span $ #[input#price-input(type='number' name='price' step=0.01 required='true' min=0 value=0)]
    div.form-group
        label(for='stock') Stock:
        input#stock.form-control(type='number' name='stock' required='true' min=0 value=0)
    div.form-group
        label(for='description') Features:
        textarea(name="description", id='description', cols="30", rows="10", maxlength: 500)
    div.form-group
        label(for='link') Link:
        input#link.form-control(type='text' name='link' required='true')
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg
