footer 
    div 
        nav.footer-nav
            h4.footer-header Navigate
            ul.footer-list
                li
                    a(href='/list') Home
                li
                    a(href='/categories') Categories
                li
                    a(href='/components') All Parts

    p.credit Built by #[a(href='https://quanpham.dev/') Quan Pham]
    