header 
    div 
        h1.header-title 
            a(href='/list') SFF PC Parts
        block sidebar
            nav
                ul.navbar
                    li
                        a(href='/list') Home
                    li
                        a(href='/categories') Categories
                    li
                        a(href='/components') All Parts