header 
    div 
        h1 Header
        block sidebar
            ul(class='navbar')
              li
                a(href='/list') Home
              li
                a(href='/Categories') Categories
              li
                a(href='/components') All Parts