@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  display: flex;
  font: 14px 'Oswald', sans-serif;
  flex-direction: column;
  background-color: #A8D0E6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
header {
  padding: 40px;
  background-color: none;
  background-color: #24305E;
}

.header-title {
  color: white;
  text-align: left;
  font-size: 42px;
  cursor: pointer;
}

.header-title:hover {
  color: #45A29E;
  transition: 0.5s;
}

.header-title a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  margin-bottom: 0px;
  padding: 0;
}

.navbar li {
  text-decoration: none;
  list-style: none;
  font-size: 28px;
  color: #45A29E;
  cursor: pointer;
}

.navbar li a {
  text-decoration: none;
  color: inherit;
}

.navbar li:hover {
  color: white;
  transition: color 0.5s;
}

/* Homepage */
.home-header {
  width: 100%;
  text-align: center;
}

.sff-components {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#hero-img {
  width: 100%;
}