@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  display: flex;
  flex-direction:column; 
  font: 14px 'Oswald', sans-serif;
  flex-direction: column;
  background-color: #A8D0E6;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
header {
  padding: 40px;
  background-color: #24305E;
}

.header-title {
  color: white;
  text-align: left;
  font-size: 42px;
  cursor: pointer;
}

.header-title:hover {
  color: #45A29E;
  transition: 0.5s;
}

.header-title a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  margin-bottom: 0px;
  padding: 0;
}

.navbar li {
  text-decoration: none;
  list-style: none;
  font-size: 28px;
  color: #45A29E;
  cursor: pointer;
}

.navbar li a {
  text-decoration: none;
  color: inherit;
}

.navbar li:hover {
  color: white;
  transition: color 0.5s;
}

/* Homepage */
.home-container {
  display: flex;
}

.left-container {
  flex: 1;
}

.right-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-header {
  width: 100%;
  text-align: center;
  margin: 10px;
  font-size: 40px;
}

.intro {
  text-align: center;
  margin-top: 16px;
  font-size: 24px;
}

.sff-components {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#hero-img {
  width: 80%;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #00000075;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.counters {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.counters h4 {
  border: 1px solid #24305E;
  padding: 10px;
  border-radius: 10px;
  font-size: 32px;
}

.counters h4:hover {
  border: 1px solid #45A29E;
  transition: 0.3s;
}

/* Footer */
footer {
  width: 100%;
  margin-top:auto; 
  background-color: #24305E;
  color: white;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.footer-list li {
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  color: #45A29E;
  cursor: pointer;
  width: fit-content;
}

.footer-list li a {
  text-decoration: none;
  color: inherit;
}

.footer-list li:hover {
  color: white;
  transition: color 0.5s;
}

.credit {
  text-align: center;
}

.credit a {
  text-decoration: none;
}

.credit a:hover {
  color: #45A29E;
  transition: color 0.5s;
}

/* Categories */
h2 {
  margin: 15px;
  text-align: center;
}

.page-desc {
  text-align: center;
  font-size: 16px;
}

.crud-link {
  font-size: 20px;
  border: 1px solid #24305E;
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  margin: 15px;
}
.crud-link:hover {
    border: 1px solid #45A29E;
    color: #24305E;
    transition: color 0.3s;
    text-decoration: none;
}

.category-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-list {
  padding: 0;
  width: 100%;
}

.render-items {
  font-size: 18px;
  list-style: none;
  text-align: center;
  padding: 5px;
}

.render-items:hover {
  background-color: #374785;
  transition: 0.3s;
}

.render-items a {
  text-decoration: none;
  color: black;
}

.render-items a:hover {
  color: white;
  transition: color 0.2s;
}

/* Details */
.crud-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: center;
  font-size: 16px;
}

/* Part Detail */
h3 {
  font-size: 20px;
  color: #374785;
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.details .feature-list {
  flex: 1;
}

.feature-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 22px;
}

.feature-content {
  border-bottom: 1px solid white;
}

/* Form */
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 5px;
  outline: none;
  height: 50px;
  width: 400px;
  padding: 10px;
  box-shadow: none;
  border: none;
}

textarea {
  width: 400px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
}

input:focus {
  outline: none !important;
  border: 2px solid #F76C6C;
  box-shadow: 0 0 10px #719ECE;
  transition: 0.3s;
}

textarea:focus {
  outline: none !important;
  border: 2px solid #F76C6C;
  box-shadow: 0 0 10px #719ECE;
  transition: 0.3s;
}

.form-change {
  width: 400px;
  height: 60px;
  font-size: 28px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 30px;
  cursor: pointer;
  background-color: #F8E9A1;
}

label {
  font-size: 30px;
}

.form-title {
  text-align: center;
  margin: 24px;
}

.form-subtitle {
  text-align: center;
  margin: 10px;
  font-size: 36px;
}

.del-check {
  text-align: center;
  font-size: 32px;
}

.del-list {
  text-align: center;
  font-size: 28px;
}

select {
  width: 400px;
  height: 60px;
  font-size: 28px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 30px;
  cursor: pointer;
  background-color: white;
}

#component-del {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-btn {
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #F8E9A1;
  padding: 8px 20px;
}

.buy-btn:hover {
  color: #374785;
  text-decoration: none;
}