@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  display: flex;
  font: 14px 'Oswald', sans-serif;
  flex-direction: column;
  background-color: #A8D0E6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
header {
  padding: 40px;
  background-color: #24305E;
}

.header-title {
  color: white;
  text-align: left;
  font-size: 42px;
  cursor: pointer;
}

.header-title:hover {
  color: #45A29E;
  transition: 0.5s;
}

.header-title a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  margin-bottom: 0px;
  padding: 0;
}

.navbar li {
  text-decoration: none;
  list-style: none;
  font-size: 28px;
  color: #45A29E;
  cursor: pointer;
}

.navbar li a {
  text-decoration: none;
  color: inherit;
}

.navbar li:hover {
  color: white;
  transition: color 0.5s;
}

/* Homepage */
.home-header {
  width: 100%;
  text-align: center;
  margin: 10px;
  font-size: 28px;
}

.intro {
  text-align: center;
  margin-top: 16px;
  font-size: 24px;
}

.sff-components {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#hero-img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #00000075;
}

.counters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-left: 145px;
  margin-right: 145px;
  margin-bottom: 15px;
  
}

.counters h4 {
  border: 1px solid #24305E;
  padding: 10px;
  border-radius: 10px;
}

.counters h4:hover {
  border: 1px solid #45A29E;
  transition: 0.3s;
}

/* Footer */
footer {
  bottom: 0;
  width: 100%;
  background-color: #24305E;
  color: white;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.footer-list li {
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  color: #45A29E;
  cursor: pointer;
  width: fit-content;
}

.footer-list li a {
  text-decoration: none;
  color: inherit;
}

.footer-list li:hover {
  color: white;
  transition: color 0.5s;
}

.credit {
  text-align: center;
}

.credit a {
  text-decoration: none;
}

.credit a:hover {
  color: #45A29E;
  transition: color 0.5s;
}